<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login| HRE</title>
</head>
<body>
    <form action="http://localhost:5000/sonuclar" method="POST">
        <p>Fizik <input type="text", name = "fizik"></p>
        <p>Matematik <input type="text", name = "matematik"></p>
        <p>Python <input type="text", name = "Python"></p>
        <p><input type="submit" value="send it"></p>
    </form>
</body>
</html>